@model  CSRF.Web.Models.LogOnForm
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>登录</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<div class="container">
    @using (Html.BeginForm("LogOn", "Account", FormMethod.Post))
    {
        <div class="form-group">
            <label>用户名</label>
            @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder="用户名" })
        </div>
        <div class="form-group">
            <label>密码</label>
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "密码" })
        </div>
        <button type="submit" class="btn btn-default">登录</button>
    }
</div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
